* {
  box-sizing: border-box;
}

html,
body,
#wrapper {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

#wrapper,
header,
main,
.comp-card-body-section {
  width: 100%;
}

header{
  height: 150px;
  padding: 20px;
  background-color: #292929;
}

/*.clearfix {
  content: "";
  display: table;
  clear: both;
}

#header-right-side {
  width: 125px;
  float: right;
}*/

#admin-username,
.btm-number {
  color: #63D1F4;
}

.top-number {
  margin-top: 1px;
  text-align: center;
}

.top-number,
.btm-number {
  font-size: 23px;
}

nav {
  width: 450px;
  margin-top: 75px;
}

.nav-links {
  padding: 15px;
  font-size: 22px;
}

.same-color-nav-links {
  color: #7F7F7F;
}

h1 {
  color: #575757;
  margin-left: 18px;
}

/**MAIN SECTION**/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/**COMP CARD 320view**/
.comp-card {
  height: auto;
  border: 1px solid #E0E0E0;
  margin-bottom: 10px;
}

.comp-card,
.comp-card-body-section {
  width: 90%;
}

.comp-card-img-section {
  height: 120px;
  background: url(images/man1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comp-card-arrow-n-views-sections {
  width: 90%;
  display: inline;
}

.comp-card-img-txt-right-side {
  float: right;
  margin-right: 15px;
}

.views-txt {
  margin-bottom: 0;
}

.comp-card-body-section {
  margin: 0 auto;
}

.comp-card-sm-cap-title,
.nav-links {
  font-variant: small-caps;
}

.comp-card-small-txt {
  color: #D3D3D3;
  font-size: 75%;
}

.comp-card-small-txt,
.btm-number {
  margin-top: 0;
}

.comp-card-sm-cap-title,
h4 {
  color: #5E5E5E;
}

.comp-card-recipient-name,
.comp-card-playlist-txt,
.comp-card-attacments-txt  {
  margin-bottom: 0;
}

.comp-card-name-playlist {
  margin: 0;
}

.nav-white-link,
.top-number,
.views-txt {
  color: #fff;
}

textarea {
  width: 100%;
  font-size: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F5F5F5;
}

/**Images and Icons**/
.arrow-icon {
  height: 50px;
  width: 50px;
  margin: 15px 15px;
  transform: scaleX(-1);
}

/**MEDIA QUERIES**/
@media screen and (min-width: 400px) {
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;;
    align-content:space-around;
  }
  /*.comp-card {
    width: 45%;
  }*/
}
@media screen and (min-width: 600px){
  .comp-card {
    max-width: 23%;
  }
}
