* {
  box-sizing: border-box;
}

html,
body,
#wrapper {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #EDEDED;
  font-family: 'Raleway', sans-serif;
}

#wrapper,
header,
.h1-tag-section,
main,
.comp-card-body-section {
  width: 100%;
}

header{
  position: relative;
  height: 150px;
  padding: 20px;
  background-color: #292929;
}

nav {
  display: none;
}

#lgr-list-menu {
  margin-top: -5px;
}

#admin-user-section {
  display: none;
}

.top-number {
  margin-top: -5px;
  text-align: center;
}

.top-number,
.btm-number {
  font-size: 23px;
}


h1 {
  margin-left: 20px;
  color: #575757;
  font-size: 30px;
}

/**MAIN SECTION**/
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/**COMP CARD 320view**/
.comp-card {
  height: auto;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  margin: 5px;
  box-shadow: 0px 2px 1px 1px #ccc;
}

.comp-card,
.comp-card-body-section {
  width: 90%;
}

.comp-card-img-section {
  height: 135px;
}

.card-1-img {
  background: url(images/man1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}

.card-2-img {
  background: url(images/man2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}
.card-3-img {
  background: url(images/woman1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode:color-burn;
}
.card-4-img {
  background: url(images/woman2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}
.card-5-img {
  background: url(images/man3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}
.card-6-img {
  background: url(images/woman3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}
.card-7-img {
  background: url(images/man4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}
.card-8-img {
  background: url(images/woman4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494;
  background-blend-mode: color-burn;
}

.comp-card-arrow-n-views-sections {
  width: 90%;
  display: inline;
}

.comp-card-img-txt-right-side {
  float: right;
  margin-right: 15px;
}

.views-txt {
  margin-bottom: 0;
}

.comp-card-body-section {
  margin: 0 auto;
}

.comp-card-sm-cap-title,
.nav-links {
  font-variant: small-caps;
}

.comp-card-small-txt {
  color: #D3D3D3;
  font-size: 75%;
}

.comp-card-small-txt {
  margin-top: 0;
}

.btm-number {
  color: #63D1F4;
  margin-top: -5px;
}

.comp-card-sm-cap-title,
h4 {
  color: #5E5E5E;
}

.comp-card-recipient-name,
.comp-card-playlist-txt,
.comp-card-attacments-txt  {
  margin-bottom: 0;
  font-weight: 600;
}

.comp-card-name-playlist {
  margin: 0;
}

.top-number,
.views-txt {
  color: #fff;
}

textarea {
  width: 100%;
  font-size: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F5F5F5;
}

/**Images and Icons**/
.arrow-icon {
  height: 50px;
  width: 50px;
  margin: 15px 15px;
  transform: scaleX(-1);
}

.nav-icon {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-left: 15px;
}

.logo {
  height: 100px;
  width: 90%;
}

#lg-list-menu {
  height: 26px;
  width: 26px;
}



/**MEDIA QUERIES**/
@media screen and (min-width: 400px) {
  main {
    display: flex;
    flex-flow: row wrap;
  }

}

@media screen and (min-width: 460px) {

  #lgr-list-menu {
    position: absolute;
    bottom: 5px;
    left: 20px;
    display: inline-block;
  }

  .logo {
    height: 100px;
    width: 80%;

  }

  .comp-card {
    width: 45%;
  }

}

@media screen and (min-width: 600px) {
  h1 {
      margin-left: 40px;
  }

  .comp-card {
    width: 48%;
  }

  #header-right-side {
    height: auto;
    width: 40%;
    text-align: right;
    float: right;
  }

  #admin-user-section {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
  }

  #admin-username {
    display: inline-block;
    font-size: 70%;
    padding: 5px;
  }

  #admin-username,
  .btm-number {
    color: #63D1F4;
  }

  .admin-user-icon {
    height: 18px;
    width: 18px;
    vertical-align: top;
  }

  .admin-user-arrow-icon {
    height: 9px;
    width: 9px;
    vertical-align: middle;
  }

  #logo-section {
    width: 100%;
  }

  .logo {
    height: 100px;
    width: 100%;
    margin-right: -5px;
  }

}

@media screen and (min-width: 700px) {
  #lgr-list-menu {
    display: none;
  }

  #header-right-side {
    width: 25%;
  }

  nav {
    width: 480px;
    display: inline-block;
    margin: 75px auto auto 10px;
  }

  .nav-white-link {
    color: #fff;
  }
  .nav-links {
    padding: 15px;
    font-size: 15px;
  }

  .same-color-nav-links {
    color: #7F7F7F;
  }

  .nav-links {
    font-size: 22px;
  }

  .comp-card {
    max-width: 30%;
  }

  .logo {
    margin-right: -10px;
  }

}

@media screen and (min-width: 858px) {
  h1 {
      margin-left: 40px;
  }

  nav {
    font-size: 23px;
  }

  .comp-card {
    max-width: 23%;
  }

}
